<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (!user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } else { %>
        <li><a href="/logout">Logout</a></li>
        <li><strong>Welcome, <%= user.name %>!</strong></li>
      <% } %>
    </ul>
  </nav>
  