/* attributes of header h1 */
h1 {
    color: #bc1212;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hidden {
    display: none;
}
