<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>
</head>
<body>

  <%- include('partials/header') %> <!-- Include the header partial -->

  <main>
    <div id="profile-section">
      <h2>User Profile</h2>
      <p>Email: <%= email %></p> <!-- Display user's email here -->
    </div>
    
    <div id="admin-access">

      <% if (isAdmin) { %> 


        <h2>Congratulations, you are an admin!</h2>
        
      <% } else { %>
        <!--client UI-->
        <h2>Client Specific Profile Data Goes here</h2>

        
      <% } %>
    </div>
    
  </main>

  <footer>
    <p>© 2024 Worst Buy</p>
  </footer>

  <script src="/javascript/myprofile.js"></script>
  <script src="/javascript/auth/authtokenverify.js"></script>


</body>
</html>
