<!-- This is the view for the root page. It contains the home page content. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>

    <%- include('partials/header') %> <!-- Include the header partial -->

    <main>
      <!-- Home Section -->
      <section id="home" class="visible">
        <h2>Welcome to Worst Buy</h2>
        <p>Your one-stop shop for all things you don't need.</p>
      </section>

      <!-- Featured (on sale) Products Section -->

      <!-- Contact Section -->
      <section id="contact" class="show">
        <h2>Contact Us</h2>
        <p>Phone: 1-800-WORST-BUY</p>
        <p>
          Email: <a href="mailto:contact@worstbuy.com">contact@worstbuy.com</a>
        </p>
      </section>
    </main>

    <footer>
      <p>© 2024 Worst Buy</p>
    </footer>

    <script src="/javascript/root.js"></script>
    <script src="/javascript/auth/authtokenverify.js"></script>

  </body>
</html>
