<!--
Module name: views/index.html
Date of the code (latest update): 11/21/24
-----------------------------------------------------------------------------------------------
Programmer: Kevin Volkov /student, CSUN COMP 380, Group #6/
-----------------------------------------------------------------------------------------------
Description: This is is what I sarted from Index: View (Homepage), assumes that JavaScript is not supported
            which is unrealistic and should not happen . Keeping just for history purposes, it is not used
 -->

<!DOCTYPE html>  <!-- Kevin: file index.html. Conventionally, defines the first page, when there is no JavaScript, but unrealistic, so index.ejs used -->
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="/css/styles.css"> 
<title>ABC Sales Company</title> 
</head> 
<body> 
<h1>Welcome to ABC Sales, you are going to love it here</h1> 
<form action="/items/search" method="get"> 
<input type="text" name="q" placeholder="Search for items..."> 
<button type="submit">Search</button> 
</form> 
</body> 
</html> 
