<!DOCTYPE html>  <!-- Kevin: ile is called. index.html, convebtionally this is where the first page goes -->
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="/css/styles.css"> 
<title>ABC Sales Company</title> 
</head> 
<body> 
<h1>Welcome to ABC Sales, you are going to love it here</h1> 
<form action="/items/search" method="get"> 
<input type="text" name="q" placeholder="Search for items..."> 
<button type="submit">Search</button> 
</form> 
</body> 
</html> 
