<header>
    <h1><%= siteName %></h1>
    <div>
      <searchbar>
        <input type="text" id="search-bar" placeholder="Search..." />
        <button id="search-button">Search</button>
      </searchbar>
      <% if (loggedIn) { %>
        <button id="myprofile-button"class= "myprofile-button">Profile</button>
        <!-- hidden signin button -->
        <button id="signin-button" class="hidden">Login or Register</button>
        <!-- signout button -->
        <button id="signout-button" class="signout-button">Logout</button>

      <% } else { %>
        <button id="signin-button" class="signin-button">Login or Register</button>
        <!-- Button to login or register -->
        <button id="myprofile-button" class="hidden">Profile</button>
        <!-- hidden signout button -->
        <button id="signout-button" class="hidden">Logout</button>

      <% } %>
      <button id="home-button" class="home-button"></button>
      <button id="cart-button">
        Cart <span id="cart-count" class="cart-count"><%= totalItems %></span>
      </button>
    </div>
</header>

<script src="/javascript/homebutton.js"></script>
<script src="/javascript/cartbutton.js"></script>
<script src="/javascript/signin-button.js"></script>
<script src="/javascript/signout-button.js"></script>
<script src="/javascript/myprofilebutton.js"></script>
<script src="/javascript/search.js"></script>
